@import './colors.css';
@import './fonts.css';
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap);

.container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow: auto;
}

.container .floatingLogo {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
}

.container .wrapper {
    font-size: 18px;
    width: 100%;
    height: 100%;
}
.container .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authBox {
    width: 100%;
    max-width: 480px;
    min-height: 320px;
    background: var(--background-primary);
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    padding: 2rem;
    border-radius: 15px;
    box-sizing: border-box;
}

form.authBox button {
    width: 100%;
    margin-top: 2rem;
}
form.authBox button+button {
    margin-top: 1rem;
}

.mainLoginContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
}
.mainLoginContainer .header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
}
.mainLoginContainer .header p {
    font-family: Raleway,Open Sans,sans-serif;
    padding: 0;
    text-decoration: none;
    margin: 0;
}
.mainLoginContainer .header .title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 8px;
    color: var(--header-primary);
}
.mainLoginContainer .header .subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--header-secondary);
}
.mainLoginContainer .block {
    width: 100%;
    text-align: left;
    margin-top: 20px;
}
