/* ================ Frame Bar ================ */

:global(:root.fullscreen) .frame {
    display: none;
}

.frame {
    z-index: 3001;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s;
    background-color: transparent;
    user-select: none;
    width: 100%;
    max-height: 32px;
    position: relative;
    -webkit-app-region: drag;
}

.frame .content {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.frame .frameWordmark {
    padding: 0 10px;
    display: flex;
    color: var(--interactive-normal);
}

.frame .frameWordmark .title {
    font-size: 12px;
    color: inherit;
    font-weight: 800;
    font-family: Arial;
}

.frame .frameButtonDock {
    -webkit-app-region: no-drag !important;
    position: relative;
    right: 0;
    overflow: hidden;
    height: 100%;
}

.frame .rameButtonDock>.frameButton:not(:first-child) {
    margin-left: -4px;
}

.frame .frameButton {
    background: none;
    border: none;
    height: 22px;
    width: 32px;
    cursor: pointer;
    color: var(--interactive-normal);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.frame .frameButton svg {
    margin: auto;
    width: 12px;
    height: 12px;
}

.frame .frameButton:focus {
    outline: 0px;
}

.frame .frameButton.default:hover {
    background: rgba(189, 189, 189, 0.43);
}

.frame .frameButton.default:active {
    background: rgba(156, 156, 156, 0.43);
}

.frame .frameButton.close:hover {
    background: rgba(255, 53, 53, 0.61) !important;
}

.frame .frameButton.close:active {
    background: rgba(235, 0, 0, 0.61) !important;
}


/* =============================================== */