.markdown {
	position: relative;
	line-height: 1.5;
	/* font-size: 1em; */
	font-size: 16px;
}

.markdown > * {
	margin-bottom: 16px;
}
.markdown > *:first-child {
	margin-top: 0;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown h1 {
	padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid var(--background-modifier-accent);
}

.markdown h3 {
  font-size: 1.25em;
}

.markdown ul,ol {
	list-style: initial;
	padding-left: 2em;
}

.markdown code, .markdown tt {
	padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: var(--background-modifier-accent);
  border-radius: 6px;
}