
.settingGroupContainer > h5 {
    margin-left: 12px;
}

.settingGroupContainer {
    position: relative;
    margin-bottom: 2rem;
}
.settingGroupContainer > div + div {
    margin-top: 1rem;
}

.settingGroupContainer > .settingGroup.withBorder {
    border: 1px solid var(--border-color-1);
}
.settingGroupContainer > .settingGroup {
    position: relative;
    background: var(--inp-background-normal);
    border-radius: 8px;
}

:global(:root.more-border) .settingGroupContainer > .settingGroup {
    border: 1px solid var(--border-color-1);
}


.divider {
    border-top: thin solid var(--background-modifier-accent);
    height: 1px;
    width: 100%;
}
.divider.dividerDefault {
    margin-top: 1.3rem;
}

.marginBottom40 {
    margin-bottom: 2rem;
}

.sidebarInfo {
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
    text-transform: capitalize;
    user-select: text;
    color: var(--text-disabled);
}
.sidebarInfo .versionHash {
    text-transform: none;
}

.line {
    display: inline-block;
    width: 100%;
}

.size12 {
    font-size: 12px;
    line-height: 16px;
}


.zxcBox {
    background: var(--background-secondary);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color-1);
}

.zxcBox :global(.separator) {
    margin: 16px 0 !important;
}
.zxcBox > :not(:global(.separator)) + * {
    margin-top: 16px !important;
}

.zxcBox .note {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 1em;
    column-gap: 1em;
    width: 100%;
    overflow-x: overlay;
    overflow-y: hidden;
}
.zxcBox .note > span > * {
    margin-right: 8px;
}