.settingContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    border: unset;
    padding: 12px 16px;
}
.settingContainer.transparent {
    border: unset;
    background: transparent;
}
.settingContainer {
    --inp-background-normal: var(--background-secondary-alt);
    --inp-background-disabled: var(--background-tertiary);
}

.settingContainer ~ .settingContainer:after {
    content: "";
    background: var(--background-modifier-accent);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 12px;
    height: 1px;
}

.settingGroupContainer > h5 {
    margin-left: 12px;
}

.settingGroupContainer {
    position: relative;
    margin-bottom: 2rem;
}
.settingGroupContainer > div + div {
    margin-top: 1rem;
}

.settingGroupContainer > .settingGroup.withBorder {
    border: 1px solid var(--border-color-1);
}
.settingGroupContainer > .settingGroup {
    position: relative;
    background: var(--background-secondary);
    border-radius: 8px;
}

:global(:root.more-border) .settingGroupContainer > .settingGroup {
    border: 1px solid var(--border-color-1);
}

.settingGroupContainer .labelRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingGroupContainer .labelRow .control {
    flex: 0 0 auto;
}

.settingGroupContainer .labelRow .title {
    flex: 1;
    display: block;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 3px; /* fix line height */
    padding-right: 8px; /* fix toggler sticking */
    cursor: pointer;
    color: var(--header-primary);
}

.settingGroupContainer .note {
    margin-top: .5rem;
}

.settingGroupContainer .note .description {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--header-secondary);
}

.settingContainer > .description {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--header-secondary);
}
.settingContainer > .description:not(:only-child) {
    margin-bottom: .5rem;
}

.divider {
    border-top: thin solid var(--background-modifier-accent);
    height: 1px;
    width: 100%;
}
.divider.dividerDefault {
    margin-top: 1.3rem;
}

.marginBottom40 {
    margin-bottom: 2rem;
}

.sidebarInfo {
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
    text-transform: capitalize;
    user-select: text;
    color: var(--text-disabled);
}
.sidebarInfo .versionHash {
    text-transform: none;
}

.line {
    display: inline-block;
    width: 100%;
}

.size12 {
    font-size: 12px;
    line-height: 16px;
}