.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.container > .leftColumn {
  display: flex;
  width: 300px;
  max-width: 350px;
  flex: 0 0 auto;
  flex-direction: column;
  flex-shrink: 0;
  background-color: var(--background-secondary);
}

.container > .leftColumn .sidebar-region {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  align-items: end;
  justify-content: flex-start;
  flex-direction: column;
}

.container > .leftColumn .sidebar-region > .sidebar {
  width: 100%;
  padding: 10px 5px 20px 0px;
}

.container > .middleColumn {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

#version-selector .main-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  line-height: normal;
  background: var(--background-primary);
}

.middleHeader {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
	border-bottom: 1px solid transparent;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: max(1.2rem, env(safe-area-inset-left));
  padding-right: max(1.2rem, env(safe-area-inset-right));
  z-index: 11;
}

.middleHeader > h2 {
  margin: 0;
  line-height: 1.5;
}

.middleHeader .backButton {
	margin-left: -0.5rem;
  margin-right: 0.5rem;
  position: relative;
}
.middleHeader .backButton button {
	min-width: unset;
	min-height: unset;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	display: flex;
  justify-content: center;
  align-items: center;
	padding: 0.3125rem;
  font-size: 1.2rem;
}

@media (max-width: 1150px) {
  .container > .leftColumn {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px !important;
    transform: translate3d(-5rem, 0, 0);
    -webkit-transform: translate3d(-5rem, 0, 0);
    transition: transform var(--layer-transition) !important;
    will-change: transform;
  }
  .container > .middleColumn {
    transition: margin var(--layer-transition) !important;
    will-change: margin;
    margin-left: 0;
  }
  .container:not(.left-closed) > .middleColumn {
    margin-left: 250px !important;
  }
  .container:not(.left-closed) > .leftColumn {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
