.dots {
  display: inline-flex;
}

.dots--animate .dot.z {
  -webkit-animation: scale 0.8s 0.2s forwards;
  animation: scale 0.8s 0.2s forwards;
}

.dots--animate .dot.f,
.dots--animate .dot.s {
  -webkit-animation: right 0.5s forwards;
  animation: right 0.5s forwards;
}

.dots--animate .dot.l {
  -webkit-animation: rightDown 0.4s 0.1s forwards linear, drop 2s 0.4s forwards linear;
  animation: rightDown 0.4s 0.1s forwards linear, drop 2s 0.4s forwards linear;
}

.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: var(--text-color);
  border-radius: 50%;
  position: relative;
  margin-left: 6px;
}

.dot.z {
  position: absolute;
  transform: scale(0);
}

@-webkit-keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.dot.f,
.dot.s {
  transform: translateX(0px);
}

@-webkit-keyframes right {
  100% {
    transform: translateX(11px);
  }
}

@keyframes right {
  100% {
    transform: translateX(11px);
  }
}

.dot.t {
  background: transparent;
}

.dot .l {
  margin-left: 0;
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes rightDown {
  50% {
    top: 4px;
    left: 11px;
  }

  100% {
    top: 12px;
    left: 24px;
  }
}

@keyframes rightDown {
  50% {
    top: 4px;
    left: 11px;
  }

  100% {
    top: 12px;
    left: 24px;
  }
}

@-webkit-keyframes drop {
  100% {
    transform: translate(70px, calc(35px + (100vh/2)));
  }
}

@keyframes drop {
  100% {
    transform: translate(70px, calc(35px + (100vh/2)));
  }
}