{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-typescript", {"jsxPragma": "createElement", "jsxPragmaFrag": "Fragment"}]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "createElement",
        "pragmaFrag": "Fragment"
      }
    ]
  ],
  "comments": false
}