<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TJMC-Launcher</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
    <script src="./assets/js/uicore.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <style>
        #frameMain {
            background: url('https://picsum.photos/1280/720');
            background-size: cover;
            -webkit-user-select: none;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
        #frameSecond {
            background: #212121;
        }
    </style>
</head>
<body class="preload">
    <%- include('frame') %>
    <div id="preloader">
        <!--<div class="big-text">TJMC-Launcher</div>-->
        <img src="./assets/images/icon.png">
    </div>
    <div id="app-mount">
        <div id="frameMain" class="app-layer frame-fix">
            <div id="topBar" class="hidden">
                <div id="progress-bar"></div>
            </div>
            <div id="main">
                <%- include('main') %>
            </div>
            <div id="mainBar">
                <input type="text" placeholder="Ник" id="nick">
                <select id="version"></select>
                <button id="playButton">Играть</button>
            </div>
        </div>
        <div id="frameSecond" class="app-layer frame-fix"></div>
    </div>
</body>
</html>