<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TJMC-Launcher</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <script src="./assets/js/uicore.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <style>
        #frameMain {
            background: url(assets/images/default.png);
            background-size: cover;
            -webkit-user-select: none;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
</head>
<body>
    <%- include('frame') %>
    <div id="frameMain">
        <div id="topBar" class="hidden">
            <div id="progress-bar"></div>
        </div>
        <div id="main">
            <%- include('main') %>
        </div>
        <div id="mainBar">
            <input type="text" placeholder="Ник" id="nick">
            <select id="version"></select>
            <button id="playButton">Играть</button>
        </div>
    </div>
</body>
</html>