<!DOCTYPE html>
<html class="preload dark-theme">
<head>
    <meta charset="UTF-8">
    <title>TJMC-Launcher</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
</head>
<body>
    <div id="app-mount" class="app-mount">
        <%- include('frame') %>
        <div class="app">
            <div class="app-container frame-fix">
                <div class="bg"></div>
                <div class="app-layers">
                    <div class="layer base-layer" id="main-layer">
                        <%- include('main') %>
                    </div>
                </div>
                <div class="uploadArea">
                    <div class="uploadDropModal"></div>
                </div>
            </div>
            <div id="preloader">
                <img src="./assets/images/icon.png">
                <div class="circle"></div>
                <div class="circle" style="animation-delay: .9s !important;"></div>
            </div>
        </div>
        <div class="layerContainer"></div>
        <div></div>
        <div></div>
        <div style="position: fixed; opacity: 0; pointer-events: none;"></div>
    </div>
    <script src="./assets/js/libs/Animation.js"></script>
    <script src="./assets/js/scripts/renderer.js"></script>
</body>
</html>