<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <script src="js/uicore.js"></script>
    <link type="text/css" rel="stylesheet" href="./css/launcher.css">
</head>
<body style="background: #444;">
    <%- include('frame') %>
    <h1>Hello World!</h1>
    <p>
        Вы используете node <script>document.write(process.versions.node)</script>,
        Chrome <script>document.write(process.versions.chrome)</script>,
        и Electron <script>document.write(process.versions.electron)</script>.
    </p>
</body>
</html>