<div class="container">
    <nav class="guilds">
        <ul>
            У тебя хуй во рту застрял
            Алё, Алё
            Ничего не слышно
            Вытащи хуй изо рта

            Алё, Федя блядь
            Я понимаю что гловка вкусная
            Но вытащи хуй
            Я тебя не слышу
        </ul>
    </nav>
    <div id="main">
        <div id="topBar" class="hidden">
            <div id="progress-bar"></div>
        </div>
        <div id="main">
        </div>
        <div id="mainBar">
            <input type="text" placeholder="Ник" id="nick">
            <select id="version"></select>
            <button id="playButton">Играть</button>
        </div>
    </div>
</div>