<!--<h1>Hello World!</h1>
<p>
    Вы используете node <script>document.write(process.versions.node)</script>,
    Chrome <script>document.write(process.versions.chrome)</script>,
    и Electron <script>document.write(process.versions.electron)</script>.
</p>-->
<nav class="guilds">
    <ul>
        хуй
    </ul>
</nav>
<div id="main">
    <div id="topBar" class="hidden">
        <div id="progress-bar"></div>
    </div>
    <div id="main">
    </div>
    <div id="mainBar">
        <input type="text" placeholder="Ник" id="nick">
        <select id="version"></select>
        <button id="playButton">Играть</button>
    </div>
</div>