<div class="container">
    <div class="sidebar-main" id="main-version-list">
        <div class="sidebar-region">
            <div class="sidebar">
                <div class="item header">Версии</div>
            </div>
        </div>
    </div>
    <div id="main" class="base">
        <div id="topBar" class="hidden">
            <div id="progress-bar"></div>
        </div>
        <div class="main-content">
            <div class="top">
                <img src="https://picsum.photos/1280/720" onerror="this.src='../app/assets/images/default.png'">
                <div class="top-overlay">
                    <div class="top-toolbar">
                        <div style="width: 100%;">
                            <h2>Федя лох</h2>
                            <h5>Просто конченый полупидор</h5>
                        </div>
                        <button id="playButton" data-tooltip="Играть">Играть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>