<div class="container">
    <div class="sidebar-main" id="main-version-list">
        <div class="sidebar-region">
            <div class="sidebar">
                <div class="item header">Версии</div>
            </div>
        </div>
        
        <section class="panel">
            <div class="container">
                <button href="#">Add Version</button>
                <button href="#" id="settings-button">Settings</button>
            </div>
        </section>
    </div>
    <div id="main" class="base">
        <div id="topBar" class="hidden">
            <div id="progress-bar"></div>
        </div>
        <div id="main">
        </div>
        <div id="mainBar">
            <input type="text" placeholder="Ник" id="nick">
            <button id="playButton">Играть</button>
        </div>
    </div>
</div>