<div class="sidebarView">
    <div class="sidebar-region">
        <div class="sidebar">
            <div class="item header">Настройки пользователя</div>
            <div class="item item-suchka">Моя учётная записька</div>
            <div class="item item-suchka">Конфидицеальность</div>
            <div class="item item-suchka">Авторизованные приложения</div>
            <div class="item item-suchka selected">Интеграции</div>
            <div class="item item-suchka">Выставление счетов</div>
        </div>
    </div>
    <div class="content-region">
        <div class="content">Vestibulum eu eros in sem imperdiet cursus ac a erat. Vestibulum nec est a tortor viverra varius. Donec dapibus est eu fringilla ullamcorper. Proin tristique congue justo ut fermentum. In quis condimentum turpis. Ut aliquam auctor tristique. Donec eleifend nunc eu odio aliquet pulvinar. Sed pellentesque leo eget nulla fringilla feugiat. In molestie eu elit sit amet imperdiet. Aliquam erat volutpat. Nam hendrerit finibus risus, eget tempus elit posuere ac. Phasellus consectetur lobortis sodales. In congue lorem non magna maximus condimentum. Morbi gravida consequat dolor, eget pellentesque nisl consequat vitae. Aenean vel augue sem. Aenean eget pharetra risus.</div>
    </div>
</div>