<div class="sidebarView">
    <div class="sidebar-region">
        <div class="sidebar">
            <div class="item header">Настройки пользователя</div>
                <div class="item settingsItem" rTi="my-account-tab">Моя учётная запись</div>
                <div class="item settingsItem" rTi="skin-tab">Сменить скин</div>
        <div class="item separator"></div>
            <div class="item header">Настройки Игры</div>
                <div class="item settingsItem" rTi="minecraft-settings">Игровые настройки</div>
                <div class="item settingsItem" rTi="java-settings">Настройки Java</div>
        <div class="item separator"></div>
                <div class="item settingsItem" rTi="launcher-settings">Настройки Лаунчера</div>
        <div class="item separator"></div>
                <div class="item settingsItem" rTi="about-tab">О нас</div>
        </div>
    </div>
    <div class="content-region">
        <div class="transitionWrap">
            <div class="content">
                <div id="my-account-tab" class="tab hidden">
                    <h3>Моя учётная запись</h3>
                </div>
                <div id="skin-tab" class="tab hidden">
                    <h3>Конфигурация скина</h3>
                </div>
                <div id="minecraft-settings" class="tab hidden">
                    <div class="field">
                        <h3>Настройки Minecraft</h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet diam vel nunc aliquet molestie. Nullam tincidunt sapien lacus, eget mattis lorem volutpat a. Aliquam blandit vehicula ultricies. Proin eget diam vitae elit fermentum laoreet quis sed justo. Donec eget mi bibendum, cursus lectus in, molestie est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed aliquet mauris ut enim cursus, ut hendrerit turpis semper. Pellentesque tempor est lacus. Donec accumsan est a sem scelerisque, quis mattis ex ornare. Sed vitae erat eget augue dictum molestie a sit amet metus. Donec et ex nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque vehicula sit amet tortor non volutpat. Cras euismod tincidunt eros, nec porttitor metus fringilla vitae. In sodales mauris massa, quis faucibus est mollis ut.
                    </div>
                    <div class="separator"></div>
                    <div class="field">
                        <div class="FieldContainer">
                            <div class="Field Left">
                                <span>Some Text</span>
                            </div>
                            <div class="Field Right">
                                <label class="toggleSwitch">
                                    <input type="checkbox" cValue="Fullscreen">
                                    <span class="toggleSwitchSlider"></span>
                                </label>
                            </div>
                            <a href="http://tjmcraft.ga/">See more..</a>
                        </div>
                    </div>
                </div>
                <div id="java-settings" class="tab hidden">
                    <h3>Настройки Java</h3>
                </div>
                <div id="launcher-settings" class="tab hidden">
                    <h3>Настройки Лаунчера</h3>
                </div>
                <div id="about-tab" class="tab hidden">
                    <h3>О нас</h3>
                    <h5>Просмотр информации о текущем релизе и заметки к выпуску</h5>
                </div>
            </div>
        </div>
    </div>
</div>