<div class="container" id="version-selector">
    <div class="sidebar-main" id="version-list">
        <div class="container-f" id="dropdown-list">
            <div class="header">
                <h1>Версии</h1>
                <svg width="18" height="18" class="button-1w5pas"><g fill="none" fill-rule="evenodd"><path d="M0 0h18v18H0"></path><path stroke="currentColor" d="M4.5 4.5l9 9" stroke-linecap="round"></path><path stroke="currentColor" d="M13.5 4.5l-9 9" stroke-linecap="round"></path></g></svg>
            </div>
            <div class="dropdown hidden">
                <a>lol</a>
                <a>kek</a>
            </div>
        </div>
        <div class="sidebar-region">
            <div class="sidebar">
                <div class="item navItem bgL"></div>
                <div class="item navItem bgL"></div>
                <div class="item navItem bgL"></div>
                <div class="item navItem bgL"></div>
                <div class="item navItem bgL"></div>
            </div>
        </div>
    </div>
    <div id="main" class="base">
        <div class="main-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae tincidunt dolor. Maecenas lacinia quis enim ac molestie. Donec eu egestas neque. Nulla placerat, neque at dignissim fermentum, lectus dui porta purus, vel egestas quam lectus non neque. Nulla sit amet euismod libero. Pellentesque pulvinar augue at erat tristique efficitur. Suspendisse rhoncus ipsum nibh, eu pharetra sem facilisis commodo. Mauris at nunc dignissim, pulvinar odio sed, pharetra ligula. Duis elit sem, tincidunt sed odio sit amet, bibendum ultrices mauris. Aliquam sit amet dolor eget felis laoreet maximus. Maecenas lobortis ut tortor nec maximus. Donec vestibulum quam eu felis mollis finibus. Maecenas ac lobortis ligula, sed aliquet velit. Morbi sodales lorem vitae blandit porta.

Maecenas egestas sem ut augue placerat, nec consequat turpis malesuada. Mauris dignissim placerat dictum. Aliquam diam leo, pharetra nec aliquam nec, rhoncus quis orci. Suspendisse scelerisque ligula suscipit vestibulum dignissim. Duis nec suscipit ante. Aenean eu velit lobortis, aliquet ipsum vel, laoreet elit. Sed dictum sapien finibus dui varius, quis viverra ipsum elementum. Maecenas venenatis fermentum faucibus. Aliquam erat volutpat. Suspendisse sit amet justo id ligula blandit cursus sed eget nisi. Nam ac erat sit amet turpis fermentum aliquam. Suspendisse quis urna ac elit dapibus lacinia id vel odio. Ut et maximus enim. Duis in justo ac libero mollis semper ut ut magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id nulla ac turpis imperdiet condimentum quis eget lacus.

Proin in posuere purus. Sed et luctus mi, sodales tincidunt odio. Sed magna elit, rutrum sed accumsan nec, faucibus vitae lectus. Cras laoreet tincidunt mauris, mollis accumsan magna consequat ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam consectetur libero non mattis viverra. Nunc in mi imperdiet, varius lacus et, mattis nunc. Curabitur porta auctor sem, at tincidunt sem maximus nec. Nulla facilisis tristique libero, sed accumsan massa varius nec. Nulla odio metus, volutpat eget massa in, feugiat venenatis erat.

Integer non accumsan risus, non cursus mi. Ut nisi dui, maximus id placerat in, volutpat sit amet purus. Duis tristique pulvinar dapibus. Vestibulum ac semper nibh, efficitur facilisis lectus. Aliquam a mattis orci. Mauris eget lorem justo. In dui libero, dignissim sed fermentum in, molestie eu justo. Suspendisse potenti. Proin viverra magna ac lectus mattis pulvinar. Duis sit amet dui placerat, auctor orci non, pharetra turpis. Pellentesque sit amet ex vestibulum, dapibus nibh at, ornare justo. Suspendisse potenti. Aliquam venenatis lorem vitae nulla sollicitudin euismod. Pellentesque vitae molestie libero, in dignissim velit.

Aenean tortor nisi, malesuada vel fringilla eget, suscipit vitae sem. Curabitur sollicitudin, neque in aliquam vehicula, elit lorem lobortis libero, quis maximus augue eros rutrum tortor. Aenean aliquam lacinia justo, eu tincidunt ante porttitor vel. Aenean semper metus id urna sollicitudin, ac viverra augue commodo. Mauris lacinia congue ex, non eleifend massa accumsan id. Nunc a ornare quam, eu luctus sem. Curabitur vitae libero lobortis quam tempor euismod. Nam fermentum dignissim quam congue feugiat. Cras massa arcu, pulvinar nec fringilla quis, aliquet ut augue. Nam imperdiet massa sit amet interdum pharetra. Donec eget orci eu ex tincidunt consectetur.
        </div>
    </div>
</div>