<div class="container">
    <div class="sidebar-main" id="version-list">
        <div class="sidebar-region">
            <div class="sidebar">
                <div class="item header">Версии</div>
            </div>
        </div>
    </div>
    <div id="main" class="base">
        Пиздец
    </div>
</div>