#version-selector.container > .leftColumn {
  gap: 0;
}

.middleHeader {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
	border-bottom: 1px solid transparent;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: max(1.2rem, env(safe-area-inset-left));
  padding-right: max(1.2rem, env(safe-area-inset-right));
  z-index: 11;
}

.middleHeader > h2 {
  margin: 0;
  line-height: 1.5;
}

.middleHeader .backButton {
  display: none;
	margin-left: -0.5rem;
  margin-right: 0.5rem;
  position: relative;
}
.middleHeader .backButton button {
	min-width: unset;
	min-height: unset;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	display: flex;
  justify-content: center;
  align-items: center;
	padding: 0.3125rem;
  font-size: 1.2rem;
}

@media (max-width: 1150px) {
  #version-selector.container > .leftColumn {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px !important;
    transform: translate3d(-5rem, 0, 0);
    -webkit-transform: translate3d(-5rem, 0, 0);
    transition: transform var(--layer-transition) !important;
    will-change: transform;
  }
  #version-selector.container > .middleColumn {
    transition: margin var(--layer-transition) !important;
    will-change: margin;
    margin-left: 0;
  }
  #version-selector.container:not(.left-closed) > .middleColumn {
    margin-left: 250px !important;
  }
  #version-selector.container:not(.left-closed) > .leftColumn {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  #version-selector .middleHeader .backButton {
    display: flex;
  }
}
