
.menu {
	position: absolute;
}

.menu > .backdrop {
	position: fixed;
	left: -100vw;
	right: -100vw;
	top: -100vh;
	bottom: -100vh;
	z-index: 20;
}
.menu > .menu-container {
	max-height: 230px;
	overflow: hidden overlay;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0.1rem;
	position: absolute;
	box-shadow: 0 0.25rem 0.5rem 0.125rem var(--color-shadow);
	min-width: 10rem;
	z-index: 21;
	overscroll-behavior: contain;
	transform: scale(0.5);
	transform-origin: 0px 0px;
	transition: opacity .2s cubic-bezier(0.2, 0, 0.2, 1),transform .2s cubic-bezier(0.2, 0, 0.2, 1) !important;
	opacity: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 2px;
	border-radius: 0.375em;
	font-size: 1rem;
	line-height: 1;
}
.menu > .menu-container:not(.shown) {
	display: none;
}
.menu > .menu-container.open {
	transform: scale(1);
	opacity: 1;
}
.menu > .menu-container {
	background: var(--background-floating);
}
.menu.full > .menu-container {
	width: 100%;
}
.menu > .menu-container.bottom {
	bottom: 100%;
}
.menu > .menu-container.left {
	left: 0;
}
.menu > .menu-container.right {
	right: 0;
}

.menu .menuItem {
	margin: 0;
	padding: 0.75rem 1rem;
	background: none;
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	line-height: 1.5rem;
	font-weight: 500;
	white-space: nowrap;
	color: var(--text-normal);
	cursor: pointer;
	unicode-bidi: plaintext;
	border-radius: 0.375em;
	width: auto;
	text-decoration: none;
}
.menu .menuItem:hover {
	background-color: var(--background-modifier-hover);
}

.menu .menuItem + .menuItem {
	margin-top: 0;
}

.menu .menuItem.compact {
	font-size: .875rem;
	padding: 0.25rem;
	padding-right: 0.75em;
	transform: scale(1);
}
.menu .menuItem.selected {
	background-color: var(--background-modifier-hover);
	color: inherit;
}
.menu .menuItem.destructive {
	color: var(--text-negative);
}
.menuItem.compact i {
	max-width: 1.25em;
	font-size: 1.25em;
	margin-left: 0.5em;
	margin-right: 0.7em;
}