@font-face {
    font-family: 'Minecraft Rus'; 
    src: url('minecraftia.ttf');
}
@font-face {
    font-family: 'Segoe UI Bold'; 
    src: url('segoeuibold.ttf');
}
@font-face {
    font-family: 'Candara'; 
    src: url('candara.ttf');
}

@keyframes placeHolderShimmer {
    0% {
        background-position: 100% 0
    }
    100% {
        background-position: -100% 0
    }
}

@keyframes bounce {
    0% {
        transform: scale(0.1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes pulsate {
    0% {transform: scale(0.3, 0.3); opacity: 0.3;}
    50% {opacity: 0.4;}
    100% {transform: scale(5.2, 5.2); opacity: 0.0;}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*******************************************************************************
 *                                                                             *
 * Element Styles                                                              *
 *                                                                             *
 ******************************************************************************/

 * {box-sizing: border-box;}
.preload *, .preload, .disable-animation, .disable-animation * {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
.hidden {visibility: hidden; opacity: 0;display: none;}
.hidden-v {visibility: hidden; opacity: 0;}
.frame-fix {transition: all 0.5s; padding-top: 22px;}
.fullscreen .frame-fix {padding-top: 0;}

div {transition: all 0.5s;}
html, body {
    transition: 1s all;
    overflow: hidden;
    height: 100%;
}

body, html, div {
    margin: 0px;
    padding: 0px;
    user-select: none;
    background: transparent;
    line-height: 1;
    text-rendering: optimizeLegibility;
}

.dark-theme body, .dark-theme button {
    font-family: var(--font-primary);
    color: var(--interactive-normal);
    background-color: #30303010;
}
.light-theme body, .light-theme button {
    font-family: var(--font-primary);
    color: var(--interactive-normal);
    background-color: #f0f0f010;
}
a, button, div, input, label, select, span, strong, textarea {
    outline: 0;
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/************* DARK THEME ***************/
.dark-theme {
    --background-tertiary: #202225;
    --background-primary: #313131;
    --background-secondary: #2A2A2A;
    --background-secondary-alt: #212121;
    --interactive-normal: #b9bbbe;
    --interactive-hover:#dcddde;
    --interactive-active: #fff;
    /*--background-modifier-selected: #393939;*/
    /*--background-modifier-accent: #3d3d3d;*/
    --background-modifier-hover:rgba(79,84,92,0.16);
    --background-modifier-active:rgba(79,84,92,0.24);
    --background-modifier-selected:rgba(79,84,92,0.32);
    --background-modifier-accent:hsla(0,0%,100%,0.06);
    --background-floating: #18191c;
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-link: #00b0f4;
    --text-normal: #dcddde;
    --text-positive: #4fdc7b;
    --background-accent: #4f545c;
    --background-accent-alt: rgba(255, 255, 255, 0.35);
    --scrollbar-thin-thumb: #232323;
    --scrollbar-thin-track: transparent;
    --brand-color: #5865f2;
    --brand-color-1: #4752c4;
    --brand-color-2: #3639b3;
}

/************* LIGHT THEME ***************/
.light-theme {
    --background-tertiary:#e3e5e8;
    --background-primary:#fff;
    --background-secondary:#f2f3f5;
    --background-secondary-alt:#ebedef;
    --interactive-normal:#4f5660;
    --interactive-hover:#2e3338;
    --interactive-active: #060607;
    /*--background-modifier-selected:rgba(116,127,141,0.24);*/
    /*--background-modifier-accent:rgba(6,6,7,0.08);*/
    --background-modifier-hover:rgba(116,127,141,0.08);
    --background-modifier-active:rgba(116,127,141,0.16);
    --background-modifier-selected:rgba(116,127,141,0.24);
    --background-modifier-accent:rgba(6,6,7,0.08);
    --background-floating:#fff;
    --header-primary:#060607;
    --header-secondary:#4f5660;
    --text-link: #00b0f4;
    --text-normal:#2e3338;
    --text-positive: #4fdc7b;
    --background-accent:#747f8d;
    --background-accent-alt: rgba(255, 255, 255, 0.35);
    --scrollbar-thin-thumb:rgba(79,84,92,0.3);
    --scrollbar-thin-track:transparent;
    --brand-color: #5865f2;
    --brand-color-1: #4752c4;
    --brand-color-2: #3639b3;
}

.dark-theme, .light-theme {
    --font-primary: 'Segoe UI',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*******************************************************************************
 *                                                                             *
 * Frame Styles (frame.ejs)                                                    *
 *                                                                             *
 ******************************************************************************/

/* ================ Frame Bar ================ */
#frameBar {
    animation: fadein 1s !important;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s;
    background-color: var(--background-tertiary);
    user-select: none;
    width: 100%;
    height: 22px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#frameBar #frameResizableTop {
    height: 2px;
    width: 100%;
    -webkit-app-region: no-drag;
}

#frameBar .content {
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
}

#frameBar .frameResizableVert {
    width: 2px;
    -webkit-app-region: no-drag;
}

#frameBar #frameContentWin {
    display: flex;
    width: 100%;
    -webkit-app-region: drag;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#frameBar #frameTitleDock {
    padding: 0 10px;
    display: flex;
    color: var(--interactive-normal);
}
#frameBar #frameTitleText {
    font-size: 12px;
    color: inherit;
    font-weight: 800;
    font-family: Arial;
}

#frameBar #frameButtonDockWin {
    -webkit-app-region: no-drag !important;
    position: relative;
    right: 0;
    overflow: hidden;
    height: 100%;
}
#frameBar #frameButtonDockWin > .frameButton:not(:first-child) {
    margin-left: -4px;
}

#frameBar .frameButton {
    background: none;
    border: none;
    height: 100%;
    width: 32px;
    cursor: pointer;
    color: var(--interactive-normal);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#frameBar .frameButton:hover{
    background: rgba(189, 189, 189, 0.43);
}
#frameBar .frameButton:active {
    background: rgba(156, 156, 156, 0.43);
}
#frameBar .frameButton:focus {
    outline: 0px;
}

#frameBar #frameButton_close:hover {
    background: rgba(255, 53, 53, 0.61) !important;
}
#frameBar #frameButton_close:active {
    background: rgba(235, 0, 0, 0.61) !important;
}


/* =============================================== */
#preloader {
    /*animation: fadein 1s !important;*/
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background: var(--background-secondary);
    z-index: 99999;
    user-select: none;
    transition: none;
    -webkit-app-region: drag;
}
#preloader img {
    animation: bounce 1s ease !important;
    backface-visibility: hidden;
    border-radius: 50%;
    overflow: hidden;
    height: 20%;
    max-height: 180px;
    padding: 0;
    z-index: 100001;
}
.circle {
    border-radius: 50%;
    background: radial-gradient(circle, transparent 15%, #115fff 100%);
    width: 500px;
    height: 500px;
    position: absolute;
    opacity: 0;
    animation: pulsate 1.5s infinite ease-out !important;
    animation-delay: .7s !important;
    z-index: 100000;
}

.big-text {
    font-family: 'Segoe UI Bold';
    font-size: 48px;
    font-weight: 900;
}

.preload #preloader {
    opacity: 1;
    visibility: visible;
}

.preload #frameBar * {
    -webkit-app-region: no-drag;
}

.fullscreen #frameBar {
    top: -22px;
    opacity: 0;
    visibility: hidden;
}

#mainBar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000a0;
    width: 100%;
    height: 48px;
}

#nick {
    margin: 8px 0 8px 8px;
    /* padding: 4px; */
    background-image: url(../images/user-icon.png);
    background-position: 4px;
    background-repeat: no-repeat;
    padding: 2px 2px 2px 32px;
    background-size: 24px;
}

#version {
    margin: 8px 0 8px 8px;
}

/* ================= Top Bar ================= */
#topBar {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    background: #313131af;
    z-index: 10;
}
  
#progress-bar {
    width: 0;
    height: 12px;
    background-color: var(--brand-color-1);
    transition: width 0.2s;
}

/* ================= Overlay ================= */
.overlay {
    user-select: none;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #010101D9;
    text-align: center;
    /*backdrop-filter: blur(3px);*/
    width: 100%;
    z-index: 99;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.overlay > .container-ov1 {
    position: relative;
    transition: 
    transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6),  
    opacity 0.5s ease,
    width .5s ease,
    height .5s ease;
    max-width: 75vw;
    max-height: 75vh;
    background: var(--background-primary);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    border-radius: 8px;
    min-width: 340px;
    min-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-line;
    font-size: 16px;
    font-family: var(--font-primary);
    text-align: start;
}

.overlay > .container-ov1.mini {
    max-width: 40em;
    max-height: 80vh;
    width: 35vw;
    height: auto;
}
.overlay > .container-ov1.small {
    max-height: 80vh;
    width: 35em;
    height: auto;
}

.overlay > .container-ov1 > div.icon {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay > .container-ov1 > h1 {
    font-size: 2em;
    margin: 10px 0;
}

.overlay > .container-ov1 > .inner-container {
    position: relative;
    width: 70vw;
    height: 65vh;
    max-width: 70em;
    max-height: 40em;
}

.overlay.hidden > .container-ov1 {
    transform: scale(0.5);
    opacity: 0;
}
.hidden .tools {
    opacity: 0;
}
.overlay.hidden > .container-ov1 svg {
    position: relative;
    /*transform: scale(0);*/
    /*opacity: 0;*/
}

.overlay > .container-ov1 .header-1 {
    border-radius: 5px 5px 0 0;
    transition: box-shadow .1s ease-out;
    word-wrap: break-word;
    position: relative;
    flex: 0 0 auto;
    padding: 16px;
    z-index: 1;
    overflow-x: hidden;
}
.overlay > .container-ov1 .header-1 .button {
    flex: unset;
}
.overlay > .container-ov1 .header-1 svg[data-icon=cross-icon] {
    width: 24px;
    height: 24px;
}
.overlay > .container-ov1 .header-1 .date {
    color: #b9bbbe;
    font-size: 12px;
    line-height: 16px;
}
.overlay > .container-ov1 > .content {
    color: #b9bbbe;
}
.overlay > .container-ov1 > .content img {
    max-height: 45vh;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.overlay > .container-ov1 > .content h1 {
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
}
.overlay > .container-ov1 > .content p {
    color: var(--interactive-normal);
    font-weight: 400;
}
.overlay > .container-ov1 > .content .added {
    display: flex;
    align-items: center;
    color: var(--text-positive);
}
.overlay > .container-ov1 > .content .added::after {
    content: "";
    height: 1px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 4px;
    opacity: .6;
    background-color: var(--text-positive);
}
.overlay > .container-ov1 > .content .added.margin-top {
    margin-top: 20px;
}

.overlay > .container-ov1 .footer {
    flex: 0 0 auto;
    position: relative;
    padding: 15px;
    background: var(--background-secondary);
    display: flex;
}
.overlay > .container-ov1 .footer > * {
    margin: 0 8px 0 0;
}

.tools {
    transition: all 0.5s ease;
    position: fixed;
    top: 0px;
    right: 0;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: var(--font-primary);
}

.tools .keycode {
    color: #616161;
    margin-top: 8px;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
}

.tools .overlayCloseButton {
    transition: none;
    border: 2px solid #777;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.tools .overlayCloseButton:hover {
    background: #7F7F7F5d;
}

/* === Primary Button for overlay === */
.overlay > .container-ov1 .primary-button {
    background-color: #10a010;
}
.overlay > .container-ov1 .primary-button:hover {
    background-color: #109010;
}
.overlay > .container-ov1 .primary-button:active {
    background-color: #108010;
}

.overlay > .container-ov1 button {
    position: relative;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 2px 16px;
    border-radius: 3px;
    width: 96px;
    min-width: 96px;
    min-height: 38px;
    height: 38px;
    margin: 0em 0em 0em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay > .container-ov1 > p {
    margin: 1em 0 1em 0;
    line-height: normal;
    font-size: 1em;
}

.overlay > .container-ov1 > svg {
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0.1s;    
}

.overlay > .container-ov1 > hr {
    border: 0;
    height: 1px;
    background: #333;
    margin: 1em 1em;
}

.overlay > .container-ov1 > .content {
    line-height: normal;
    font-size: 1em;
    overflow: hidden scroll;
    position: relative;
    z-index: 0;
    padding: 0 8px 16px 16px;
    flex: 1 1 auto;
}

.overlay > .container-ov1 > .content.log {
    text-align: initial;
    white-space: break-spaces;
    word-break: break-word;
    background: var(--background-modifier-selected);
    padding: 4px 8px 8px 16px;
}
/* ------------------------------------------- */


.overlay > .container-ov1::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.overlay > .container-ov1:hover::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170, 0.7);
}

.overlay .vertical-button-container {
    flex: 0 0 auto;
    background: var(--background-secondary);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px;
}

/* ==== thin scrollbar ==== */
.auto-s *::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
.auto-s *::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170, 0.7);
}
.auto-s *::-webkit-scrollbar-thumb, .auto-s *::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 8px;
}
.auto-s *::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
.auto-s *::-webkit-scrollbar-corner { 
    background: transparent;
}
/* ======================== */

/* ==== thin scrollbar ==== */
.thin-s::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.thin-s::-webkit-scrollbar-corner {
    background: transparent;
}
.thin-s::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thin-thumb);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 4px;
    min-height: 40px;
}
.thin-s::-webkit-scrollbar-track {
    border-color: var(--scrollbar-thin-track);
    background-color: var(--scrollbar-thin-track);
    border: 2px solid var(--scrollbar-thin-track);
}
/* ======================== */

input, select {
    border: 1px solid gray;
    border-width: 0px 0px 1px 0px;
    background-color: #1a1a1a !important;
    outline: none;
    height: 32px;
    width: 184px;
    color: #eee;
    font-size: 14px;
    font-family: var(--font-primary);
    opacity: 0.8;
    padding: 4px 8px;
    position: relative;
}

button {
    border: 0;
    outline: 0;
    /* border-width: 0px 0px 1px 0px; */
    border-radius: 0;
    background-color: transparent;
    width: auto;
    min-width: 8rem;
    height: 32px;
    font-family: var(--font-primary);
    font-weight: 500;
}

button.filled {
    border-radius: 3px;
    transition: background-color .1s ease;
    color: var(--header-primary);
    background-color: var(--background-modifier-accent);
}
button.filled:hover {
    background-color: var(--background-modifier-selected);
}

button.filled.colorBrand {
    color: #fff;
    background-color: var(--brand-color);
}
button.filled.colorBrand:hover {
    background-color: var(--brand-color-1)
}

button:hover {
    background-color: #3F3F3F;
}

button:active {
    background-color: #3A3A3A;
}

button > .content {
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

svg[data-icon="info-circle"] {
    color: #3f70da;
}
svg[data-icon="warn-circle"] {
    color: #e1a111;
}
svg[data-icon="error-circle"] {
    color: #e14141;
}
svg[data-icon="success-circle"] {
    color: #31e131;
}

p {
    margin: 14px 0;
}

/* =============== APP LAYERS =============== */

.app-layer {
    flex-direction: column;
    transition: all 0.35s cubic-bezier(0.35, 1.4, 0.5, 1);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-layer {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
}

/* =============== SideBar View =============== */

.sidebarView {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.sidebar-region {
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: row;
    user-select: none;
    overflow: hidden scroll;
}
.sidebarView .sidebar-region {
    flex: 1 0 220px;
    justify-content: flex-end;
}
.sidebar-region::-webkit-scrollbar {
    width: 4px;
}
.sidebar-region::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.sidebar-region:hover::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170, 0.7);
}

.sidebar-region .sidebar {
    width: 220px;
    padding: 60px 6px 60px 20px;
}

.sidebar .item, .content .item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 0;
    font-weight: 500;
    text-align: start;
    font-family: var(--font-primary);
}

.navItem {
    border-radius: 2px;
    transition: 0.2s all;
    padding: 6px 10px;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    color: var(--interactive-normal);
    min-height: 28px;
    margin-bottom: 2px;
    margin-left: 8px;
}

.navItem:hover {
    transition: all .2s;
    color: var(--interactive-hover);
    background-color: var(--background-modifier-hover);
}

.navItem.selected {
    cursor: default;
    color: var(--interactive-active) !important;
    background-color: var(--background-modifier-selected) !important;
}

.header {
    padding: 6px 10px;
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 16px;
    text-transform: uppercase;
    flex: 0 0 auto;
}

.separator {
    margin: 8px 10px;
    height: 1px;
    background-color: var(--background-modifier-accent);
}

.sidebarView .content-region {
    background: var(--background-primary);
    flex: 1 1 800px;
    display: flex;
    align-items: flex-start;
}

.content-region .transitionWrap {
    flex: 1;
    height: 100%;
}

.content-region .content {
    height: 100%;
    overflow: hidden scroll;
}

h2 {
    /* text-transform: uppercase; */
    font-size: 20px;
    /* font-weight: 600; */
    line-height: normal;
}

h5 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.content-region .content h2 {
    margin-bottom: 20px;
    color: var(--header-primary);
}
.content-region .content h5 {
    margin-bottom: 4px;
    color: var(--header-secondary);
}

.content-region .content .tab {
    position: relative;
    padding: 60px 40px 70px;
    flex: 1 1 auto;
    max-width: 740px;
    min-width: 460px;
    min-height: 100%;
}

.container-cc3V {
    position: relative;
    margin-bottom: 40px;
}

.content .separator {
    margin: 40px 0;
}

.container-cc3V .labelRow {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.title-3uvn {
    flex: 1;
    display: block;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.container-cc3V .labelRow .control {
    flex: 0 0 auto;
}
.container-cc3V .note {
    margin-top: 8px;
}
.container-cc3V .note .description {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--header-secondary);
}
.divider {
    margin: 20px 0 0 0 !important;
}
.full {
    margin: 8px 0;
}

.container-icf3v {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Toggle Switch */
.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    border-radius: 50px;
    box-sizing: border-box;
}
.toggleSwitch input {
    display:none;
}
.toggleSwitchSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-accent);
    transition: .4s;
    border-radius: 50px;
    border: 1px solid rgba(126, 126, 126, 0.2);
}
.toggleSwitchSlider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
    border-radius: 50px;
    transition: .3s;
}
input:checked + .toggleSwitchSlider {
    background-color: var(--brand-color);
    border: 1px solid var(--brand-color);
}
input:checked + .toggleSwitchSlider:before {
    transform: translateX(22px);
}

.slider {
    transition: none;
    width: 100%;
    height: 8px;
    margin: 18px 0px;
    background: var(--background-accent);
    border-radius: 3px;
    position: relative;
}
.slider > .slider-bar {
    transition: inherit;
    position: absolute;
    background: var(--brand-color);
    width: 50%;
    height: 100%;
    border-radius: 3px 0px 0px 3px;
}
.slider > .slider-track {
    transition: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.slider > .slider-track > .grabber {
    transition: inherit;
    left: 50%;
    position: absolute;
    width: 10px;
    height: 24px;
    top: 50%;
    margin-top: -13px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 3px 1px 0 rgba(0,0,0,.05), 0 2px 2px 0 rgba(0,0,0,.1), 0 3px 3px 0 rgba(0,0,0,.05);
    cursor: ew-resize;
}

/* === app === */
.app-mount, body, html {
    width: 100%;
    height: 100%;
}
.app-mount, body {
    background-color: var(--background-tertiary);
    text-rendering: optimizeLegibility;
}
.app-mount {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.app {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    z-index: auto;
}
.app-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background-tertiary);
    display: flex;
    flex-direction: column;
}
.app-layers {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
}
.app-layers > .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    transition: none;
}
.app-layers > .layer.base-layer {
    background: transparent;
}
.platform-win #preloader {
    top: -22px;
}

/* === Main === */
.sidebar-main {
    overflow: hidden;
    display: flex;
    height: 100%;
    min-width: 240px;
    max-width: 250px;
    flex: 1 0 240px;
    flex-direction: column;
    flex-shrink: 0;
    background-color: var(--background-secondary);
    border-radius: 8px 0 0;
}
.sidebar-main > .sidebar-region {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: end;
    justify-content: flex-start;
    flex-direction: column;
}
.sidebar-main > .sidebar-region > .sidebar {
    width: 100%;
    padding: 10px 5px 20px 0px;
}
.sidebar-main > .panel {
    flex: 0 0 auto;
    height: 48px;
    background-color: var(--background-secondary-alt);
}
.sidebar-main > .panel > .container {
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.sidebar-main > .localVersions {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--background-secondary);
    overflow: hidden;
    flex: 1;
}
.sidebar-main > .localVersions > .scroller {
    padding-right: 0px;
    overflow: hidden scroll;
    background: var(--background-secondary);
}
.sidebar-main > .localVersions > .scroller > .content {
    position: relative;
    /*height: 100%;*/
}
.sidebar-main > .localVersions > .scroller .fp {
    height: 90%;
    line-height: normal;
    font-size: 1.2em;
}
.sidebar-main > .localVersions .versionsHeader {
    display: flex;
    padding: 18px 8px 4px 18px;
    height: 40px;
    color: var(--interactive-normal);
}
.sidebar-main > .localVersions .versionsHeader:hover {
    color: var(--interactive-hover);
}
.sidebar-main > .localVersions .versionsHeader span {
    flex: 1;
}
.simple-button {
    width: 16px;
    flex: 0;
    height: 16px;
    margin-left: 0;
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--interactive-normal);
    transition: none; 
    cursor: pointer;
}
.simple-button:hover {
    color: var(--interactive-hover);
}

.container-df {
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    flex: 1 1 auto;
    color: var(--header-secondary);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
}

.container > .base {
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    flex: 1 1 80%;
    position: relative;
    background-color: var(--background-primary);
    overflow: hidden;
}

.guilds {
    overflow: hidden;
    display: flex;
    width: 72px;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    background-color: var(--background-tertiary);
}

.guilds > .tree {
    height: 100%;
    display: flex;
}

.scroller {
    position: relative;
    box-sizing: border-box;
    min-height: 0;
    flex: 1 1 auto;
    overflow: hidden scroll;
    user-select: none;
    background-color: var(--background-tertiary);
    contain: layout size;
    padding-top: 4px;
    padding-right: 0px;
}

.listItem {
    position: relative;
    margin: 0 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*background-color: #333;*/
}
.listItem > .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    position: relative;
    cursor: pointer;

    border-radius: 50%;
    overflow: auto;
}

.listItem > .wrapper:hover {
    border-radius: 25%;
}

.listItem > .guildSeparator {
    height: 2px;
    width: 32px;
    border-radius: 1px;
    background-color: var(--background-modifier-accent);
}

.listItem > .wrapper > .singleIconBtn { 
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    transition: color .15s ease-out,background-color .15s ease-out;
    color: var(--interactive-normal);
    background-color: var(--background-primary);
}
.listItem > .wrapper:hover > .singleIconBtn {
    color: var(--background-accent);
}

.listItem img {
    width: 48px;
    height: 100%;
    object-fit: cover;
}

.no-scrollbar {
    scrollbar-width: none
}

.no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0
}

#main > .main-content {
    position: relative;
    /*padding: 10px;*/
    height: 100%;
    width: 100%;
    overflow: hidden overlay;
}

#main > .main-content > .top {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#main > .main-content > .top > img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main > .main-content > .top > .top-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    background: linear-gradient(180deg,transparent 70%,rgba(10,10,10,0.8));
}

#main > .main-content > .top > .top-overlay > .top-toolbar {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
    /*backdrop-filter: saturate(180%) blur(15px);*/
    overflow: hidden;
    color: #fdfdfd;
}
#main > .main-content > .top h2 {
    font-size: 25px;
    font-weight: 900;
    line-height: 25px;
}

#playButton {
    position: relative;
    background-color: var(--brand-color) !important;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 800;
    height: 2em;
    color: #fdfdfd;
    font-family: var(--font-primary);
}
#playButton:hover {
    background-color: var(--brand-color-1) !important;
}
#playButton:active {
    background-color: var(--brand-color-2) !important;
}

#main > .main-content > .main {
    position: relative;
    padding: 10px;
}

.button {
    line-height: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    color: var(--interactive-normal);
    background: transparent;
    cursor: pointer;
    transition: all .2s;
}
.button:hover {
    color: var(--interactive-hover);
    background-color: var(--background-modifier-selected);
}
.bb {
    flex-grow: 1;
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 30%;
    position: relative;
    margin-right: 8px;
    overflow: hidden;
    flex-shrink: 0;
    transition: all 0.2s;
}
.avatar img {
    width: 100%;
    height: 100%;
}
.avatar:hover {
    /*filter: brightness(0.7);*/
    cursor: pointer;
}

.nameTag {
    user-select: text;
    flex-grow: 1;
    margin-right: 4px;
    min-width: 0;
    line-height: 16px;
}
.nameTag > .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--header-primary);
    line-height: 18px;
    font-weight: 600;
    font-size: 14px;
}
.nameTag > .subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--header-secondary);
    line-height: 13px;
    font-size: 12px;
    font-weight: 600;
}
.round {
    border-radius: 25%;
    box-shadow: 0 0 4px #666;
    transition: 0.5 all ease;
}
.round:hover {
    box-shadow: 0 0 8px #555;
}

#version-selector .main-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* padding: 0px 25px 10px 25px; */
    font-size: 2em;
    line-height: normal;
    /* text-align: start; */
}

#version-selector .main-content h1 {
    text-align: center;
}

.container-f {
    cursor: pointer;
    position: relative;
    outline: 0;
    font-size: 20px;
}
.container-f .header {
    box-shadow: 0 1px 0 rgba(4,4,5,0.2), 0 1.5px 0 rgba(6,6,7,0.05), 0 2px 0 rgba(4,4,5,0.05);
    position: relative;
    font-weight: 500;
    padding: 0 16px;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    z-index: 3;
    transition: background-color .1s linear;
    text-transform: none !important;
    font-size: 16px !important;
    user-select: none;
    text-align: start;
}
.container-f .header h1 {
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    user-select: none;
    text-align: start;
}
.container-f .header:hover {
    background-color: #4f545c29;
}
.container-f .dropdown {
    margin: 8px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: var(--background-floating);
    min-width: 220px;
    width: auto;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: medium;
    transition: all .3s ease;
    overflow: hidden;
    text-align: start;
}
.container-f .dropdown a {
    cursor: pointer;
    color: #eee;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    user-select: none;
}
.container-f .dropdown a:hover {
    background-color: var(--brand-color-1);
}
.button-1w5pas {
    position: relative;
    top: 3px;
    opacity: .8;
    -webkit-transition: stroke-dasharray .2s ease-out,-webkit-transform .2s ease-out;
    transition: stroke-dasharray .2s ease-out,-webkit-transform .2s ease-out;
    transition: transform .2s ease-out,stroke-dasharray .2s ease-out;
    transition: transform .2s ease-out,stroke-dasharray .2s ease-out,-webkit-transform .2s ease-out;
    margin-left: 4px;
}

.button-1w5pas.open {
    -webkit-transform: translate3d(0,-3px,0) rotate(-90deg);
    transform: translate3d(0,-3px,0) rotate(-90deg);
}

.button-1w5pas.open path {
    stroke-dasharray: 14
}

.button-1w5pas path {
    stroke-width: 2px;
    stroke-dasharray: 7;
    stroke-dashoffset: 1;
    -webkit-transition: stroke-dasharray .2s ease;
    transition: stroke-dasharray .2s ease
}

.bgL {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, var(--background-primary) 10%, #dddddd80 20%, var(--background-primary) 30%);
    background-size: 200% 1px;
    cursor: default;
    user-select: none;
    /*margin: 5px 0;*/
    margin-top: 5px;
    margin-bottom: 5px;
}


/* ========= Tooltip ========= */

.tooltip {
    position: absolute;
    z-index: 1001;
    background-color: var(--background-floating);
    max-width: 190px;
    width: auto;
    display: block;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.24);
    border-radius: 5px;
    pointer-events: none;
    transition: .1s opacity;
}

.tooltip .content {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-normal);
    line-height: 16px;
    padding: 8px 12px;
    overflow: hidden;
}

.tooltip .pointer {
    border: 5px solid transparent;
    margin-left: -5px;
    position: absolute;
    pointer-events: none;
    outline: 0;
    width: 0;
    height: 0;
    
    transition: none !important;
}

.tooltip[position='top'] .pointer {
    top: 100%;
    left: 50%;
    border-top-color: var(--background-floating);
}
.tooltip[position='bottom'] .pointer {
    top: -10px;
    left: 50%;
    border-bottom-color: var(--background-floating);
}

*[data-tooltip] > * {pointer-events: none;}

a.anchor {
    color: var(--text-link);
    text-decoration: none;
}
a.anchor:hover {
    color: var(--text-link);
    text-decoration: underline;
}

.flex-group {
    display: flex;
    align-items: baseline;
}
.flex-group.vertical {
    flex-direction: column;
}
.flex-group.horizontal {
    flex-direction: row;
}
.flex-group.a-c {
    align-items: center;
}
.flex-group > .flex-child {
    position: relative;
    flex: 1 1 50%;
}
.flex-group > .flex-child:first-child {
    margin-right: 10px;
}
.flex-group > .flex-child:last-child {
    margin-left: 10px;
}

.VT-flex-box {
    margin: auto;
    box-sizing: border-box;
    flex: 1;
    overflow: auto;
    font-size: initial;
    width: 70%;
    min-width: 330px;
    max-width: 450px;
    text-align: initial;
    padding: 10px;
}

.VT-flex-box input {
    width: 100%;
    margin: 5px 0;
}

.VT-flex-box label {
    padding: 0 2px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.VT-flex-box .children-zx1 {
    position: relative;
    margin: 1rem 0;
}

.VT-header {
    position: relative;
}
.VT-header > h2 {
    margin: 1rem;
}

.VT-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.carousel {
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all .8s ease;
}

.carousel > .carousel-elm {
    background: black;
    min-width: 100%;
    height: 100%;
    /*margin-right: 1rem;*/
    display: inline-block;
    overflow: auto;
}

.centred {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap;
    line-height: unset;
}

.input-wrapper {
    position: relative;
}
.input-wrapper > .file {
    display: none;
}
.input-wrapper > .file-flex {
    display: flex;
}
.input-wrapper > .file-flex > .file-name {
    position: relative;
}
.input-wrapper > .file-flex > .file-button {
    background: #3479ce;
    border: none;
    border-radius: 0;
    width: 100px;
    box-sizing: border-box;
    padding: 2px 10px;
    background-color: #4493c7;
    transition: all 0.6s;
    color: #FFF;
    font-size: 15px;
    vertical-align: middle;
    text-transform: uppercase;
    margin-left: 1rem;
}

.input-wrapper input[type=file] {
    display: none;
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none
}

.input-wrapper .label {
    width: 120px;
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 1.2em;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center
}

.input-wrapper .input .title {
    color: grey;
    transition: 200ms color;
    overflow: hidden;
    line-height: 22px;
    font-size: 14px;
}

.input-wrapper .input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border: 1px solid gray;
    border-width: 0px 0px 1px 0px;
    background-color: #1a1a1a !important;
    outline: none;
    height: 32px;
    width: 184px;
    color: #eee;
    font-size: 14px;
    font-family: var(--font-primary);
    opacity: 0.8;
    padding: 4px 4px 4px 8px;
    position: relative;
    width: 100%;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.input-wrapper .small-button {
    line-height: 22px;
    width: 52px;
    height: auto;
    display: block;
    text-align: center;
    border-radius: initial;
}

.input-wrapper > .resolution {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
}

.input-wrapper > .resolution > input {
    text-align: center;
}

.input-wrapper > .resolution > .resolutionCross {
    position: relative;
    margin: 0 1em;
}

.grow {
    width: auto;
}

.bxcF1-box {
    background: var(--background-secondary);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.bxcF1-box .separator {
    margin: 16px 0 !important;
}

.ictx-flex {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.ictx-flex > .icon {
    margin: 0 16px 0 0;
    max-width: 64px;
    max-height: 64px;
}
.ictx-flex > .icon > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.ictx-flex .vbx {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.ictx-flex .vbx.cu {
    display: flex;
}
.ictx-flex .vbx > .text {
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
}
.ictx-flex .vbx > .text.name {
    font-family: 'Candara';
    font-size: 2em;
    font-weight: 600;
    margin: 0 8px 0 0;
}
.ictx-flex .vbx > .text.version {
    font-family: var(--font-primary);
    font-size: 1.2em;
    font-weight: 500;
    color: var(--header-secondary);
}
.ictx-flex .vbx.cu > .text.id {
    font-family: var(--font-primary);
    font-size: 1.4em;
    font-weight: 400;
    color: var(--header-secondary);
}
.ictx-flex > button.r {
    /* border: 1px solid var(--background-modifier-accent); */
    font-size: 14px;
    line-height: inherit;
}

.r {
    margin-left: auto;
}

a { 
    color: var(--interactive-normal);
}
a:hover {
    color: var(--interactive-hover);
}

.note.flex-group > *{
    margin: 0 8px 0 0;
}

.size12 {
    font-size: 12px;
    line-height: 16px;
}
.size14 {
    font-size: 14px;
    line-height: 18px;
}
.size16 {
    font-size: 16px;
    line-height: 20px;
}
.size20 {
    font-size: 20px;
    line-height: 24px;
}
.sizeQ {
    font-size: 1em;
    line-height: normal;
}
.sizeW {
    font-size: 1.2em;
    line-height: normal;
}
.sizeE {
    font-size: 1.5em;
    line-height: normal;
}
.sizeR {
    font-size: 1.8em;
    line-height: normal;
}
.sizeT {
    font-size: 2em;
    line-height: normal;
}
.colorStandart {
    color: var(--text-normal)
}
.colorHeaderPrimary {
    color: var(--header-primary)
}

.subtitle-p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--header-secondary);
    font-weight: 600;
}

.fieldList {
    border-radius: 8px;
    background-color: var(--background-primary);
    padding: 16px;
    margin-top: 16px;
}

.fieldList > .field {
    min-height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fieldList .spacer {
    margin-top: 24px;
}

.containedRow {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    margin-right: 16px;
}

.wrapper {
    margin: 0;
}