@font-face {
    font-family: 'Minecraft Rus'; 
    src: url('minecraftia.ttf');
}
@font-face {
    font-family: 'Segoe UI Bold'; 
    src: url('segoeuibold.ttf');
}
@font-face {
    font-family: 'Candara'; 
    src: url('candara.ttf');
}

@keyframes placeHolderShimmer {
    0% {
        background-position: 100% 0
    }
    100% {
        background-position: -100% 0
    }
}

@keyframes bounce {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes pulsate {
    0% {transform: scale(0.3, 0.3); opacity: 0.3;}
    50% {opacity: 0.4;}
    100% {transform: scale(5.2, 5.2); opacity: 0.0;}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*******************************************************************************
 *                                                                             *
 * Element Styles                                                              *
 *                                                                             *
 ******************************************************************************/

 * {box-sizing: border-box;}
.preload *, .preload {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
.hidden {visibility: hidden; opacity: 0;display: none;}
.platform-darwin .frame-fix {padding-top: 0;}
.frame-fix {transition: all 0.5s; padding-top: 22px;}
.fullscreen .frame-fix {padding-top: 0;}

div {transition: all 0.5s;}
html, body {
    transition: 1s all;
    overflow: hidden;
    height: 100%;
}

body, html, div {
    margin: 0px;
    padding: 0px;
    user-select: none;
    background: transparent;
    line-height: 1;
}

body, button {
    font-family: 'Candara';
    color: white;
    background-color: #30303010;
}
a, button, div, input, label, select, span, strong, textarea {
    outline: 0;
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/************* DARK THEME ***************/
.dark-theme {
    --background-tertiary: #202225;
    --background-primary: #313131;
    --background-secondary: #2A2A2A;
    --background-secondary-alt: #212121;
    --interactive-normal: #b9bbbe;
    --interactive-hover:#dcddde;
    --background-modifier-selected: #313131;
    --background-floating: #18191c;
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
}
/*******************************************************************************
 *                                                                             *
 * Frame Styles (frame.ejs)                                                    *
 *                                                                             *
 ******************************************************************************/

/* ================ Frame Bar ================ */
#frameBar {
    animation: fadein 1s !important;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s;
    background-color: var(--background-tertiary);
    -webkit-user-select: none;
    width: 100%;
    height: 22px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#frameBar #frameResizableTop {
    height: 2px;
    width: 100%;
    -webkit-app-region: no-drag;
}

#frameBar .content {
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
}

#frameBar .frameResizableVert {
    width: 2px;
    -webkit-app-region: no-drag;
}

#frameBar #frameContentWin {
    display: flex;
    width: 100%;
    -webkit-app-region: drag;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#frameBar #frameTitleDock {
    padding: 0 10px;
    display: flex;
}
#frameBar #frameTitleText {
    font-size: 14px;
    color: white;
    font-family: 'Candara';
}

#frameBar #frameButtonDockWin {
    -webkit-app-region: no-drag !important;
    position: relative;
    right: 0;
    overflow: hidden;
    height: 100%;
}
#frameBar #frameButtonDockWin > .frameButton:not(:first-child) {
    margin-left: -4px;
}

#frameBar .frameButton {
    background: none;
    border: none;
    height: 100%;
    width: 28px;
    cursor: pointer;
    color: #ddd;
    display: inline-block;
    text-align: center;
}
#frameBar .frameButton:hover{
    background: rgba(189, 189, 189, 0.43);
}
#frameBar .frameButton:active {
    background: rgba(156, 156, 156, 0.43);
}
#frameBar .frameButton:focus {
    outline: 0px;
}

#frameBar #frameButton_close:hover {
    background: rgba(255, 53, 53, 0.61) !important;
}
#frameBar #frameButton_close:active {
    background: rgba(235, 0, 0, 0.61) !important;
}


/* =============================================== */
#preloader {
    /*animation: fadein 1s !important;*/
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background: #1a1a1a;
    z-index: 99999;
    -webkit-user-select: none;
    transition: none;
    -webkit-app-region: drag;
}
#preloader img {
    animation: bounce 1s ease !important;
    backface-visibility: hidden;
    border-radius: 50%;
    overflow: hidden;
    height: 20%;
    padding: 0;
    z-index: 100001;
}
.circle {
    border-radius: 50%;
    background: radial-gradient(circle, transparent 15%, #115fff 100%);
    width: 500px;
    height: 500px;
    position: absolute;
    opacity: 0;
    animation: pulsate 1.5s infinite ease-out !important;
    animation-delay: .7s !important;
    z-index: 100000;
}

.big-text {
    font-family: 'Segoe UI Bold';
    font-size: 48px;
    font-weight: 900;
}

.preload #preloader {
    opacity: 1;
    visibility: visible;
}

.preload #frameBar * {
    -webkit-app-region: no-drag;
}

.fullscreen #frameBar {
    top: -22px;
    opacity: 0;
    visibility: hidden;
}

#mainBar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000a0;
    width: 100%;
    height: 48px;
}

#nick {
    margin: 8px 0 8px 8px;
    /* padding: 4px; */
    background-image: url(../images/user-icon.png);
    background-position: 4px;
    background-repeat: no-repeat;
    padding: 2px 2px 2px 32px;
    background-size: 24px;
}

#version {
    margin: 8px 0 8px 8px;
}

/* ================= Top Bar ================= */
#topBar {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    background: #313131af;
    z-index: 10;
}
  
#progress-bar {
    width: 0;
    height: 12px;
    background-color: #1aaa1a;
    transition: width 0.2s;
}

/* ================= Overlay ================= */
#overlay {
    user-select: none;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #010101D9;
    text-align: center;
    /*backdrop-filter: blur(3px);*/
    width: 100%;
    z-index: 99;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#overlay #container {
    position: relative;
    transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6),  opacity 0.5s ease;
    max-width: 60vw;
    max-height: 70vh;
    background: #252626;
    display: inline;
    border-radius: 8px;
    min-width: 380px;
    min-height: 180px;
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-line;
    font-size: 16px;
    font-family: 'Candara';
}

#overlay #container h1 {
    font-size: 2.5em;
}

#overlay.hidden #container {
    transform: scale(0.5);
    opacity: 0;
}
.hidden .tools {
    opacity: 0;
}
#overlay.hidden #container svg {
    transform: scale(0);
    opacity: 0;
}

.tools {
    transition: all 0.5s ease;
    position: fixed;
    top: 0px;
    right: 0;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Candara';
}

.tools .keycode {
    font-size: 16px; 
    color: #616161;
}

.tools #overlayCloseButton {
    transition: none;
    border: 2px solid #777;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.tools #overlayCloseButton:hover {
    background: #7F7F7F5d;
}

/* === Primary Button for overlay === */
#overlay #container .primary-button {
    background-color: #10a010;
}
#overlay #container .primary-button:hover {
    background-color: #109010;
}
#overlay #container .primary-button:active {
    background-color: #108010;
}

#overlay #container button {
    font-family: 'Candara';
    font-size: 16px;
    font-weight: 900;
    margin: 1em;
    border-radius: 8px;
    width: 8em;
}

#overlay #container p {
    margin: 2em 0;
}

#overlay #container svg {
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0.1s;    
}

#overlay #container hr {
    border: 0;
    height: 1px;
    background: #333;
    margin: 0 1em;
}
/* ------------------------------------------- */


#container::-webkit-scrollbar-thumb {
    background-color: transparent;
}
#container:hover::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170, 0.7);
}


::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170, 0.7);
}

::-webkit-scrollbar-thumb,::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 8px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-corner { 
    background: transparent;
}

input, select {
    border: 1px solid gray;
    border-width: 0px 0px 1px 0px;
    background-color: #1a1a1a !important;
    outline: none;
    height: 32px;
    width: 184px;
    color: #eee;
    font-size: 15px;
    font-family: 'Candara';
    opacity: 0.8;
    padding: 4px;
    position: relative;
}

button {
    border: 0;
    outline: 0;
    border-width: 0px 0px 1px 0px;
    background-color: #444444;
    width: 8em;
    height: 32px;
}

button:hover {
    background-color: #3F3F3F;
}

button:active {
    background-color: #3A3A3A;
}

svg[data-icon="info-circle"] {
    color: #3f70da;
}
svg[data-icon="warn-circle"] {
    color: #e1a111;
}
svg[data-icon="error-circle"] {
    color: #e14141;
}
svg[data-icon="success-circle"] {
    color: #31e131;
}

/* =============== APP LAYERS =============== */

.app-layer {
    flex-direction: column;
    transition: all 0.35s cubic-bezier(0.35, 1.4, 0.5, 1);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-layer {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
}

/* =============== SideBar View =============== */

.sidebarView {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.sidebar-region {
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: row;
    user-select: none;
    overflow: hidden scroll;
}
.sidebarView .sidebar-region {
    flex: 1 0 220px;
    justify-content: flex-end;
}
.sidebar-region::-webkit-scrollbar {
    width: 4px;
}
.sidebar-region::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.sidebar-region:hover::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170, 0.7);
}

.sidebar-region .sidebar {
    width: 220px;
    padding: 60px 6px 60px 20px;
}

.sidebar .item{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 0;
    font-weight: 500;
}

.navItem {
    border-radius: 2px;
    transition: 0.2s all;
    padding: 6px 10px;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    color: #b9bbbe;
    min-height: 28px;
    margin-bottom: 2px;
}

.navItem:hover {
    transition: all .2s;
    color: #dcddde;
    background-color: var(--background-primary);
}

.navItem.selected {
    cursor: default;
    color: #F1F1F1 !important;
    background-color: var(--background-primary) !important;
}

.header {
    padding: 6px 10px;
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 16px;
    text-transform: uppercase;
}

.separator {
    margin: 8px 10px;
    height: 1px;
    background-color: #ffffff0f;
}

.sidebarView .content-region {
    background: var(--background-primary);
    flex: 1 1 800px;
    display: flex;
    align-items: flex-start;
}

.content-region .transitionWrap {
    flex: 1;
    height: 100%;
}

.content-region .content {
    height: 100%;
    overflow: hidden scroll;
}

h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

h5 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.content h2 {
    margin-bottom: 20px;
    color: var(--header-primary);
}
.content h5 {
    margin-bottom: 4px;
    color: var(--header-secondary);
}

.content .tab {
    position: relative;
    padding: 60px 40px 70px;
    flex: 1 1 auto;
    max-width: 800px;
    min-width: 512px;
    min-height: 100%;
}

.content .children > .container-cc3V {
    position: relative;
    margin-bottom: 40px;
}

.content .separator {
    margin: 40px 0;
}

.content .children > .container-cc3V .labelRow {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.content .children > .container-cc3V .labelRow label {
    flex: 1;
    display: block;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.content .children > .container-cc3V .labelRow .control {
    flex: 0 0 auto;
}
.content .children > .container-cc3V .note {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--header-secondary);
    margin-top: 8px;
}
.content .children > .container-cc3V .divider {
    margin: 20px 0 0 0;
}

.container-icf3v {
    display: flex;
}

/* Toggle Switch */
.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    border-radius: 50px;
    box-sizing: border-box;
}
.toggleSwitch input {
    display:none;
}
.toggleSwitchSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.35);
    transition: .4s;
    border-radius: 50px;
    border: 1px solid rgba(126, 126, 126, 0.57);
}
.toggleSwitchSlider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
    border-radius: 50px;
    transition: .3s;
}
input:checked + .toggleSwitchSlider {
    background-color: rgb(31, 140, 11);
    border: 1px solid rgb(31, 140, 11);
}
input:checked + .toggleSwitchSlider:before {
    transform: translateX(22px);
}

/* === app === */
.app-mount, body, html {
    width: 100%;
    height: 100%;
}
.app-mount, body {
    background-color: var(--background-tertiary);
    text-rendering: optimizeLegibility;
}
.app-mount {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.app {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    z-index: auto;
}
.app-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background-tertiary);
    display: flex;
    flex-direction: column;
}
.app-layers {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
}
.app-layers > .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    transition: none;
}
.app-layers > .layer.base-layer {
    background: transparent;
}
.platform-win .bg {
    top: -22px;
}
.platform-win #preloader {
    top: -22px;
}
.bg {
    background-color: var(--background-tertiary);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.bg {
    /*background: url('https://picsum.photos/1280/720');*/
    background: var(--background-primary);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
/* === Main === */
.sidebar-main {
    overflow: hidden;
    display: flex;
    height: 100%;
    min-width: 240px;
    max-width: 250px;
    flex: 1 0 240px;
    flex-direction: column;
    flex-shrink: 0;
    background-color: var(--background-secondary);
}
.sidebar-main > .sidebar-region {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: end;
    justify-content: flex-start;
    flex-direction: column;
}
.sidebar-main > .sidebar-region > .sidebar {
    width: 100%;
    padding: 10px 10px 20px 10px;
}
.sidebar-main > .panel {
    flex: 0 0 auto;
    height: 48px;
    background-color: var(--background-secondary-alt);
}
.sidebar-main > .panel > .container {
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
}

.container > .base {
    flex: 1 1 80%;
    position: relative;
    background-color: var(--background-primary);
}

.listItem {
    position: relative;
    margin: 0 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.listItem > .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
}

#main > .main-content {
    position: relative;
    /*padding: 10px;*/
    height: 100%;
    width: 100%;
    overflow: hidden overlay;
}

#main > .main-content > .top {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#main > .main-content > .top > img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main > .main-content > .top > .top-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    background: linear-gradient(180deg,transparent 70%,rgba(10,10,10,0.8));
}

#main > .main-content > .top > .top-overlay > .top-toolbar {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
    /*backdrop-filter: saturate(180%) blur(15px);*/
    overflow: hidden;
}
#main > .main-content > .top h2 {
    font-size: 25px;
    font-weight: 900;
    line-height: 25px;
}

#playButton {
    position: relative;
    background-color: #1aaa1a !important;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 800;
    height: 2em;
}
#playButton:hover {
    background-color: #10a010 !important;
}
#playButton:active {
    background-color: #008000 !important;
}

#main > .main-content > .main {
    position: relative;
    padding: 10px;
}

.button {
    line-height: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    color: var(--interactive-normal);
    background: transparent;
    cursor: pointer;
    transition: all .2s;
}
.button:hover {
    color: var(--interactive-hover);
    background-color: var(--background-modifier-selected);
}
.bb {
    flex-grow: 1;
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 30%;
    position: relative;
    margin-right: 8px;
    overflow: hidden;
    flex-shrink: 0;
    transition: all 0.2s;
}
.avatar img {
    width: 100%;
    height: 100%;
}
.avatar:hover {
    /*filter: brightness(0.7);*/
    cursor: pointer;
}

.nameTag {
    user-select: text;
    flex-grow: 1;
    margin-right: 4px;
    min-width: 0;
    line-height: 16px;
}
.nameTag > .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--header-primary);
    line-height: 18px;
    font-weight: 600;
    font-size: 14px;
}
.nameTag > .subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--header-secondary);
    line-height: 13px;
    font-size: 12px;
    font-weight: 600;
}
.round {
    border-radius: 25%;
    box-shadow: 0 0 4px #666;
    transition: 0.5 all ease;
}
.round:hover {
    box-shadow: 0 0 8px #555;
}

#version-selector .main-content {
    padding: 25px 50px 70px 25px;
}

.container-f {
    cursor: pointer;
    position: relative;
    outline: 0;
    font-size: 20px;
}
.container-f .header {
    box-shadow: 0 1px 0 rgba(4,4,5,0.2), 0 1.5px 0 rgba(6,6,7,0.05), 0 2px 0 rgba(4,4,5,0.05);
    position: relative;
    font-weight: 500;
    padding: 0 16px;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    z-index: 3;
    transition: background-color .1s linear;
    text-transform: none !important;
    font-size: 16px !important;
    user-select: none;
}
.container-f .header h1 {
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    user-select: none;
}
.container-f .header:hover {
    background-color: #4f545c29;
}
.container-f .dropdown {
    margin: 8px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: var(--background-floating);
    min-width: 220px;
    width: auto;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: medium;
    transition: all .3s ease;
    overflow: hidden;
}
.container-f .dropdown a {
    cursor: pointer;
    color: #eee;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    user-select: none;
}
.container-f .dropdown a:hover {
    background-color: #1aaa1a;
}
.button-1w5pas {
    position: relative;
    top: 3px;
    opacity: .8;
    -webkit-transition: stroke-dasharray .2s ease-out,-webkit-transform .2s ease-out;
    transition: stroke-dasharray .2s ease-out,-webkit-transform .2s ease-out;
    transition: transform .2s ease-out,stroke-dasharray .2s ease-out;
    transition: transform .2s ease-out,stroke-dasharray .2s ease-out,-webkit-transform .2s ease-out;
    margin-left: 4px;
}

.button-1w5pas.open {
    -webkit-transform: translate3d(0,-3px,0) rotate(-90deg);
    transform: translate3d(0,-3px,0) rotate(-90deg);
}

.button-1w5pas.open path {
    stroke-dasharray: 14
}

.button-1w5pas path {
    stroke-width: 2px;
    stroke-dasharray: 7;
    stroke-dashoffset: 1;
    -webkit-transition: stroke-dasharray .2s ease;
    transition: stroke-dasharray .2s ease
}

.bgL {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, var(--background-primary) 8%, #dddddd 18%, var(--background-primary) 33%);
    background-size: 200% 1px;
    cursor: default;
    user-select: none;
    margin: 5px 0;
}


/* ========= Tooltip ========= */

.tooltip {
    position: absolute;
    padding: 8px 12px;
    z-index: 1001;
    background-color: var(--background-floating);
    max-width: 190px;
    width: auto;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    pointer-events: none;
    transition: .1s opacity;
}

.tooltip .content {
    font-size: 14px;
    line-height: 16px;
}

.tooltip .pointer {
    border: 5px solid transparent;
    margin-left: -5px;
    position: absolute;
    pointer-events: none;
    outline: 0;
    width: 0;
    height: 0;
    
    transition: none !important;
}

.tooltip[position='top'] .pointer {
    top: 100%;
    left: 50%;
    border-top-color: var(--background-floating);
}
.tooltip[position='bottom'] .pointer {
    top: -10px;
    left: 50%;
    border-bottom-color: var(--background-floating);
}

*[data-tooltip] > * {pointer-events: none;}