@font-face {
    font-family: 'Minecraft Rus'; 
    src: url('minecraftia.ttf');
}
@font-face {
    font-family: 'Segoe UI Bold'; 
    src: url('segoeuibold.ttf');
}
@font-face {
    font-family: 'Candara'; 
    src: url('candara.ttf');
}

/*******************************************************************************
 *                                                                             *
 * Element Styles                                                              *
 *                                                                             *
 ******************************************************************************/
* {box-sizing: border-box;}
div {transition: 0.5s all;}
.hidden {visibility: hidden; opacity: 0;}
html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}
/* Reset body, html, and div presets. */
body, html, div {
    margin: 0px;
    padding: 0px;
}

/* Set default font and color. */
body, button {
    font-family: 'Minecraft Rus';
    background-color: #30303010;
    color: white;
}

/*body {
    background: url('./../images/backgrounds/0.jpg') no-repeat center center fixed;
    background-size: cover;
}*/

/*******************************************************************************
 *                                                                             *
 * Frame Styles (frame.ejs)                                                    *
 *                                                                             *
 ******************************************************************************/

/* Frame Bar */
#frameBar {
    z-index: 100;
    display: flex;
    flex-direction: column;
    transition: background-color 1s ease;
    background-color: #1a1a1ada;
    -webkit-user-select: none;
    width: 100%;
    height: 22px;
    left: 0;
    right: 0;
    top: 0;
    position: relative;
}

/* Undraggable region on the top of the frame. */
#frameBar #frameResizableTop {
    height: 2px;
    width: 100%;
    -webkit-app-region: no-drag;
}

/* Flexbox to wrap the main frame content. */
#frameBar .content {
    display: flex;
    height: 22px;
    flex-direction: row-reverse;
}

/* Undraggable region on the left and right of the frame. */
#frameBar .frameResizableVert {
    width: 2px;
    -webkit-app-region: no-drag;
}

/* Main frame content for windows. */
#frameBar #frameContentWin {
    display: flex;
    width: 100%;
    -webkit-app-region: drag;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

/* Main frame content for darwin. */
#frameBar #frameContentDarwin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    -webkit-app-region: drag;
}

#frameBar #frameContentDarwin #frameTitleDock {
    position: absolute;
    text-align: center;
    justify-self: center;
    align-self: center;
    display: block;
    left: 0;
    right: 0;
    z-index: -1;
}

/* Frame logo (windows only). */
#frameBar #frameTitleDock {
    padding: 0 10px;
}
#frameBar #frameTitleText {
    font-size: 14px;
    color: white;
    font-family: 'Candara';
}

/* Windows frame button dock. */
#frameBar #frameButtonDockWin {
    -webkit-app-region: no-drag !important;
    position: relative;
    right: 0;
    overflow: hidden;
    height: 100%;
}
#frameBar #frameButtonDockWin > .frameButton:not(:first-child) {
    margin-left: -4px;
}

/* Darwin frame button dock: NaN; */
#frameBar #frameButtonDockDarwin {
    -webkit-app-region: no-drag !important;
    position: relative;
    top: -1px;
    right: -1px;
}

/* Windows Frame Button Styles. */
#frameBar .frameButton {
    background: none;
    border: none;
    height: 100%;
    width: 28px;
    cursor: pointer;
    color: #ddd;
    display: inline-block;
    text-align: center;
}
#frameBar .frameButton:hover{
    background: rgba(189, 189, 189, 0.43);
}
#frameBar .frameButton:active {
    background: rgba(156, 156, 156, 0.43);
}
#frameBar .frameButton:focus {
    outline: 0px;
}

/* Close button is red. */
#frameBar #frameButton_close:hover {
    background: rgba(255, 53, 53, 0.61) !important;
}
#frameBar #frameButton_close:active {
    background: rgba(235, 0, 0, 0.61) !important;
}

/* Darwin Frame Button Styles. */
#frameBar .frameButtonDarwin {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 0px;
    margin-left: 5px;
    -webkit-app-region: no-drag !important;
    cursor: pointer;
}
#frameBar .frameButtonDarwin:focus {
    outline: 0px;
}

#frameBar #frameButtonDarwin_close {
    background-color: #e74c32;
}
#frameBar #frameButtonDarwin_close:hover {
    background-color: #FF9A8A;
}
#frameBar #frameButtonDarwin_close:active {
    background-color: #ff8d7b;
}

#frameBar #frameButtonDarwin_minimize {
    background-color: #fed045;
}
#frameBar #frameButtonDarwin_minimize:hover {
    background-color: #FFE9A9;
}
#frameBar #frameButtonDarwin_minimize:active {
    background-color: #ffde7b;
}

#frameBar #frameButtonDarwin_restoredown {
    background-color: #96e734;
}
#frameBar #frameButtonDarwin_restoredown:hover {
    background-color: #D6FFA6;
}
#frameBar #frameButtonDarwin_restoredown:active {
    background-color: #bfff76;
}

/* =============================================== */
#frameMain {
    height: calc(100% - 22px);
    display: flex;
    flex-direction: column;
}

#main {
    flex: 1;
    overflow: auto;
}

#mainBar {
    left: 0;
    right: 0;
    background-color: #00000081;
    width: 100%;
    height: 48px;
}

#playButton {
    position: absolute;
    background-color: #1aaa1a !important;
    margin: 8px 8px 8px 8px;
    right: 0;
    box-sizing: border-box;
}
#playButton:hover {
    background-color: #10a010 !important;
}
#playButton:active {
    background-color: #008000 !important;
}

#topBar {
    position: relative;
    right: 0;
    left: 0;
    width: 100%;
    background: #313131af;
}
  
#progress-bar {
    width: 0;
    height: 12px;
    background-color: #b22222;
    transition: width 0.2s;
}

#nick {
    margin: 8px 0 8px 8px;
    /* padding: 4px; */
    background-image: url(../images/user-icon.png);
    background-position: 4px;
    background-repeat: no-repeat;
    padding: 2px 2px 2px 32px;
    background-size: 24px;
}

#version {
    margin: 8px 0 8px 8px;
}


#overlay {
    user-select: none;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #010101D9;
    text-align: center;
    /*backdrop-filter: blur(3px);*/
    width: 100%;
    z-index: 99;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#overlay #container {
    position: relative;
    transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6),  opacity 0.5s ease;
    max-width: 60vw;
    max-height: 70vh;
    background: #252626;
    display: inline;
    border-radius: 8px;
    min-width: 380px;
    min-height: 180px;
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-line;
    font-size: 16px;
    font-family: 'Candara';
}

#overlay.hidden #container {
    transform: scale(0.5);
    opacity: 0;
}
#overlay.hidden .tools {
    opacity: 0;
}
#overlay.hidden #container svg {
    transform: scale(0);
    opacity: 0;
}

#overlay .tools {
    transition: all 0.5s ease;
    position: fixed;
    top: 22px;
    right: 0;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Candara';
}

#overlay .tools .keycode {
    font-size: 16px; 
    color: #616161;
}

#overlay #overlayCloseButton {
    transition: none;
    border: 2px solid #777;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

#overlay #overlayCloseButton:hover {
    background: #7F7F7F5d;
}

/* === Primary Button for overlay === */
#overlay #container .primary-button {
    background-color: #10a010;
}
#overlay #container .primary-button:hover {
    background-color: #109010;
}
#overlay #container .primary-button:active {
    background-color: #108010;
}
/* ---------------------------------- */

#overlay #container button {
    font-family: 'Candara';
    font-size: 16px;
    font-weight: 900;
    margin: 1em;
    border-radius: 8px;
    width: 8em;
}

#overlay #container p {
    margin: 2em 0;
}

#overlay #container svg {
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0.1s;    
}

#overlay #container hr {
    border: 0;
    height: 1px;
    background: #333;
    margin: 0 1em;
}

::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170, 0.7);
}

::-webkit-scrollbar-thumb,::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-corner { 
    background: transparent;
}

input, select {
    border: 1px solid gray;
    border-width: 0px 0px 1px 0px;
    background-color: #1a1a1a !important;
    outline: none;
    height: 32px;
    width: 184px;
    color: #eee;
    font-size: 15px;
    font-family: 'Candara';
    opacity: 0.8;
    padding: 4px;
    position: relative;
}

button {
    border: 0;
    outline: 0;
    border-width: 0px 0px 1px 0px;
    background-color: #444444;
    width: 10em;
    height: 32px;
}

button:hover {
    background-color: #3F3F3F;
}

button:active {
    background-color: #3A3A3A;
}

svg[data-icon="info-circle"] {
    color: #3f70da;
}
svg[data-icon="warn-circle"] {
    color: #e1a111;
}
svg[data-icon="error-circle"] {
    color: #e14141;
}
svg[data-icon="success-circle"] {
    color: #31e131;
}