.settingContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	border: unset;
	padding: 12px 16px;
}
.settingContainer.transparent {
	border: unset;
	background: transparent;
}
.settingContainer.disabled {
	opacity: 0.6;
	pointer-events: none;
}
.settingContainer {
	--inp-background-normal: var(--background-secondary-alt);
	--inp-background-disabled: var(--background-tertiary);
}

.settingContainer ~ .settingContainer:after {
	content: "";
	background: var(--background-modifier-accent);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 12px;
	height: 1px;
}

.settingContainer .labelRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.settingContainer .labelRow .control {
	flex: 0 0 auto;
}

.settingContainer .labelRow .title {
	flex: 1;
	display: block;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 24px;
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 3px; /* fix line height */
	padding-right: 8px; /* fix toggler sticking */
	cursor: pointer;
	color: var(--header-primary);
}

.settingContainer .note {
	margin-top: .5rem;
}

.settingContainer .note .description {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: var(--header-secondary);
}

.settingContainer > .description {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: var(--header-secondary);
}
.settingContainer > .description:not(:only-child) {
	margin-bottom: .5rem;
}